/* ---------------
        Google fonts
------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------
            Header Section
-------------------------- */

header {
  background-color: #2d25a0;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 102px;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 54px;
  color: #ffffff;
  margin-left: 156px;
}

.btn {
  background-color: #e02c6d;
  border: 0;
  padding: 10px;
  margin-top: 7px;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 24px;
}

#btn-effect:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.fa-arrow-right {
  padding-left: 8px;
}

.header-thumbnail img {
  width: 100%;
  margin-top: 73px;
}

/* --------
      main-section
------------ */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

/* --------
      Player-section
------------ */

.player-container {
  width: 1076px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.player {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin-bottom: 40px;
}

.player-thumbnail img {
  width: 100%;
}

.player-details h2 {
  margin-top: 16px;
  margin-bottom: 10px;
}

.player-details p {
  font-size: 16px;
  color: #6c6c6c;
}

/* ---------------
              Video Section added
------------ */

.video-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.video-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
}

.color {
  color: tomato;
}

/* -------------
            Footer Section
--------------- */

footer {
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 100%;
  margin-bottom: 20px;
}

.footer-social-icon {
  margin-bottom: 20px;
}

/* ---------------
      Media Queries
---------------------- */
/* 
/* -----------
Mobile devices
-------------- */

@media only screen and (max-width: 688px) {
  header {
    width: 376px;
  }

  .header-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .player-container {
    width: 100%;
  }

  .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .video-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .video-description {
    margin-bottom: 10px;
  }

  .header-info {
    width: 250px;
  }

  .video-description {
    width: 300px;
  }
}

/* -------------------
      tablet device
--------------- */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .players {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .player-container {
    width: 100%;
  }
}
